<svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>magento</title>
    <defs>
        <path id="a" d="M.004 0H50v58H.004V0z"/>
    </defs>

    <g fill-rule="evenodd">
        <mask id="b" class="fill--white">
            <use xlink:href="#a"/>
        </mask>

        <path d="M21.324 49.96L25 52.2l3.676-2.24V17.55l8.09 4.925v28.36L25 58l-11.765-7.165v-28.36l8.09-4.926v32.41zm22.058-3.155V18.85L25 7.655 6.618 18.85v27.955L0 42.775v-27.55L25 0l25 15.225v27.55l-6.618 4.03z" mask="url(#b)"/>
        <path d="M21.324 26.974l-8.09-4.456v-.043l8.09-4.926v9.423zm15.44-4.456l-8.088 4.456V17.55l8.09 4.925v.043zm6.618-3.668L25 7.655 6.618 18.85v.02L0 15.226 25 0l25 15.225-6.618 3.646v-.02z" mask="url(#b)"/>
    </g>
</svg>
