<svg xmlns="http://www.w3.org/2000/svg" width="50" height="53" viewBox="0 0 50 53">
    <title>AngularJS</title>

    <g fill-rule="evenodd">
        <path d="M24.923.262L.166 8.975 4.078 41.41l20.87 11.472 20.98-11.627 3.91-32.435L24.924.262z"/>
        <path d="M47.37 10.695L24.864 3.02v47.12l18.86-10.437 3.644-29.008z"/>
        <path fill="#FFF" d="M2.944 10.833l3.352 29.01 18.57 10.298V3.02L2.943 10.833z"/>
        <path d="M31.06 28.105l-6.195 2.897h-6.53l-3.068 7.676-5.71.106 15.31-34.052 6.194 23.373zm-.6-1.458L24.907 15.65 20.35 26.457h4.515l5.596.19z"/>
        <path fill="#FFF" d="M24.865 4.732l.04 10.918 5.17 10.816h-5.198l-.012 4.53 7.19.006 3.36 7.783 5.462.102L24.865 4.732z"/>
    </g>
</svg>
