<svg xmlns="http://www.w3.org/2000/svg" width="50" height="51" viewBox="0 0 50 51">
    <title>bootstrap</title>

    <g fill-rule="evenodd">
        <rect width="49.975" height="50.982" rx="6"/>
        <path fill="#FFF" d="M25.365 21.948c1.276 0 2.244-.282 2.903-.846.66-.564.99-1.396.99-2.496 0-1.086-.33-1.91-.99-2.475-.66-.577-1.627-.866-2.903-.866h-4.48v6.684h4.48m.273 13.812c1.627 0 2.847-.345 3.66-1.036.828-.69 1.242-1.735 1.242-3.13 0-1.37-.407-2.39-1.22-3.068-.813-.69-2.04-1.036-3.682-1.036h-4.754v8.27h4.754M33.17 24.4c1.74.51 3.085 1.447 4.04 2.815.953 1.368 1.43 3.046 1.43 5.034 0 3.045-1.024 5.315-3.072 6.81-2.047 1.495-5.16 2.242-9.34 2.242H12.783V9.722h12.16c4.362 0 7.518.662 9.467 1.988 1.965 1.326 2.946 3.448 2.946 6.367 0 1.537-.357 2.848-1.072 3.934-.716 1.073-1.754 1.87-3.114 2.39"/>
    </g>
</svg>
