<svg xmlns="http://www.w3.org/2000/svg" width="50" height="71" viewBox="0 0 50 71">
    <title>html5</title>
    <g fill-rule="evenodd">
        <path d="M4.594 65.297L.054 13.97H49.96l-4.546 51.32-20.438 5.708-20.382-5.7z"/>
        <path fill="#FFF" d="M25.006 37.204H16.74l-.572-6.446h8.838v-6.295H9.34l.15 1.69 1.535 17.346h13.98v-6.296zM25.006 53.552l-.027.008-6.96-1.893-.444-5.02h-6.272l.875 9.883 12.798 3.58.028-.008v-6.55z"/>
        <path d="M4.696.023H7.87v3.16h2.906V.023h3.175v9.57h-3.174V6.39H7.87v3.204H4.697V.024zM18.126 3.197H15.33V.023H24.1v3.174h-2.796v6.397h-3.176V3.197zM25.49.023h3.31l2.037 3.363L32.87.023h3.313v9.57H33.02V4.85l-2.183 3.403h-.055L28.596 4.85v4.744H25.49V.024zM37.764.023h3.176V6.43h4.465v3.164h-7.642V.024z"/>
        <path fill="#FFF" d="M24.985 37.204V43.5h7.693l-.725 8.163-6.968 1.895v6.55l12.808-3.578.094-1.063 1.47-16.573.15-1.69H24.985zM24.985 24.463v6.295h15.092l.125-1.415.284-3.19.15-1.69h-15.65z"/>
    </g>
</svg>
