<svg xmlns="http://www.w3.org/2000/svg" width="51" height="21" viewBox="0 0 51 21">
    <title>jira</title>

    <g fill-rule="evenodd">
        <path d="M25.62 19.204h-2.937V5.324h2.936v13.88zm4.882-11.258h3.415c.85 0 1.316.472 1.316 1.278v1.255c0 .802-.465 1.74-1.316 1.74h-3.415V7.943zm5.715 11.295h3.206l-3.39-4.784c1.108-.412 1.795-1.644 1.795-2.906V8.01c0-1.595-1.064-2.658-2.658-2.658h-7.568v13.89h2.9v-4.58h2.76l2.955 4.58z"/>
        <path d="M50.267 19.204l-4.12-13.88h-3.97l-4.12 13.88h2.9l3.204-10.8 1.62 5.46h-1.62l-1.123 2.493h3.47l.86 2.847h2.9zm-29.72-2.94V5.324H17.7V15.62c0 1.623-.758 1.742-.954 1.818-.357.14-.96.22-.96.22l.682 2.467c4.586-.122 4.08-3.86 4.08-3.86M.55 5.39s-.136 2.83 4.06 6.95c4.198 4.122 4.675 5.796 4.446 6.953h3.052s.278-4.782-4.454-8.14c0 0-3.257-2.897-3.788-5.197 0 0-1.603 0-2.72-.898 0 0-.6-.36-.6.332"/>
        <path d="M7.046 11.928c.843.598 1.524 1.242 2.08 1.896.403-.43.856-.895 1.365-1.394 4.2-4.12 4.068-7.04 4.068-7.04 0-.693-.6-.31-.6-.31-1.116.898-2.72.92-2.72.92-.53 2.3-3.788 5.24-3.788 5.24-.22.158-.427.318-.627.48.143.134.226.208.226.208M7.003 16.4c-.54-.7-1.264-1.52-2.22-2.498-1.948 2.8-1.792 5.57-1.792 5.57h3.053c-.136-.713-.023-1.614.96-3.073m-.99-10.19H9.04s.394-.056.298.467c-.137.743-1.77 2.25-1.77 2.25S6.374 7.824 5.843 6.78c0 0-.215-.57.172-.57m6.843-3.126c0 .73-.592 1.32-1.322 1.32-.73 0-1.322-.59-1.322-1.32 0-.73.592-1.322 1.322-1.322.73 0 1.322.592 1.322 1.322m-7.784 0c0 .73-.592 1.32-1.322 1.32-.73 0-1.322-.59-1.322-1.32 0-.73.592-1.322 1.322-1.322.73 0 1.322.592 1.322 1.322m3.968-1.07c0 .73-.592 1.323-1.322 1.323-.73 0-1.322-.592-1.322-1.322 0-.73.592-1.32 1.322-1.32.73 0 1.322.59 1.322 1.32"/>
    </g>
</svg>
