<svg xmlns="http://www.w3.org/2000/svg" width="50" height="46" viewBox="0 0 50 46">
    <title>Sketch</title>

    <path fill-rule="evenodd" d="M42.908 3.804L34.174 0H15.817L7.083 3.804 0 12.022l24.997 33.94 24.994-33.94-7.08-8.218zm4.078 8.56l-6.598 5.177-5.252-7.756 7.39-3.573 4.46 6.156zm-9.79 6.712h-24.4l5-9.004h14.4l5 9.004zm-5.02-17.393l6.75 2.95-6.778 3.24H17.843l-6.778-3.24L17.74 1.68l14.436.003zM7.384 6.21l7.388 3.572-5.25 7.76-6.6-5.177L7.385 6.21zM5.607 17.453l4.228 3.364L19.938 37.52 5.608 17.454zm7.776 4.366h23.225l-11.61 20.986L13.382 21.82zm16.587 15.7l10.104-16.704 4.227-3.364L29.97 37.52z"/>
</svg>
