<div class="bg-color--white color--anthracite col-side" id="col-abilities">
    <ul class="fill--blue" id="abilities-list">
        <li>
            {% include 'svg/html5.twig' %}
        </li>

        <li>
            {% include 'svg/css3.twig' %}
        </li>

        <li>
            {% include 'svg/jquery.twig' %}
        </li>

        <li>
            {% include 'svg/bootstrap.twig' %}
        </li>

        <li>
            {% include 'svg/github.twig' %}
        </li>

        <li>
            {% include 'svg/symfony2.twig' %}
        </li>

        <li>
            {% include 'svg/Victoire.twig' %}
        </li>

        <li>
            {% include 'svg/magento.twig' %}
        </li>

        <li>
            {% include 'svg/prestashop.twig' %}
        </li>

        <li>
            {% include 'svg/photoshop.twig' %}
        </li>

        <li>
            {% include 'svg/Sketch.twig' %}
        </li>
    </ul>
</div>
