<div class="bg-color--gray color--anthracite col-side color-gray-dark" id="col-git">
    <div class="text-center" id="col-git--img">
        {% include 'svg/github.twig' %}
    </div>

    <div class="col-side--content text-center" id="col-git--content">
        I've made some stuffs on <a class="color--anthracite" href="https://github.com/LoicGoyet">github</a>
    </div>

    <ul class="col-side--list">
        <li><a href="#">Sully prefixes</a></li>
        <li><a href="#">custom radio</a></li>
        <li><a href="#">custom selects</a></li>
        <li><a href="#">custom checkbox</a></li>
        <li><a href="#">bootstrap 2DGrid</a></li>
        <li><a href="#">toggleSwitch</a></li>
    </ul>
</div>
