<div class="bg-color--gray color--anthracite col-side color-gray-dark" id="col-git">
    <div class="text-center" id="col-git--img">
        {% include 'svg/github.twig' %}
    </div>

    <div class="col-side--content text-center" id="col-git--content">
        I've made some stuffs on <a class="color--anthracite" href="https://github.com/LoicGoyet">github</a>
    </div>

    <ul class="col-side--list">
        <li>
            <a href="https://github.com/LoicGoyet/donaldtrunc">donaldtrunc</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/gutter-helper">gutter-helper</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/frontlab">frontlab</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/bootstrap-2DGrid">bootstrap 2DGrid</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/custom-checkbox">custom checkbox</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/custom-selects">custom selects</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/custom-radio">custom radio</a>
        </li>

        <li>
            <a href="https://github.com/LoicGoyet/toggleSwitch">toggleSwitch</a>
        </li>
    </ul>
</div>
