<div class="bg-color--anthracite color--anthracite-light" id="col-main">
    I am <strong class="color-white font-fjallaone">Loïc Goyet</strong> front-end developper

    <div id="col-main-btn">
        <a href="http://codepen.io/loic/" class="btn font-fjallaone">
            <span class="btn-label">Codepen</span>
        </a>
        <a href="https://fr.linkedin.com/pub/loïc-goyet/12/1b8/b8a" class="btn font-fjallaone">
            <span class="btn-label">LinkedIn</span>
        </a>
    </div>
</div>
