{% extends 'layout/_layout.twig' %}

{% block content %}
    <div class="font-average" id="content">
        {% include 'partials/_abilities.twig' %}
        {% include 'partials/_git.twig' %}
        {% include 'partials/_main.twig' %}
        {% include 'partials/_appventus.twig' %}
        {% include 'partials/_victoire.twig' %}
    </div>
{% endblock content %}
