{% extends 'layout/_layout.twig' %}

{% block content %}
    <div class="font-average" id="content">
        {% include '_abilities.twig' %}
        {% include '_git.twig' %}
        {% include '_main.twig' %}
        {% include '_appventus.twig' %}
        {% include '_victoire.twig' %}
    </div>
{% endblock content %}
