{% extends 'layout/_layout.twig' %}

{% block content %}
    <div class="font-average" id="content">
        <div class="bg-color--white color--anthracite col-side" id="col-abilities">
            <ul class="fill--blue" id="abilities-list">
                <li>
                    {% include 'svg/html5.twig' %}
                </li>

                <li>
                    {% include 'svg/css3.twig' %}
                </li>

                <li>
                    {% include 'svg/jquery.twig' %}
                </li>

                <li>
                    {% include 'svg/bootstrap.twig' %}
                </li>

                <li>
                    {% include 'svg/github.twig' %}
                </li>

                <li>
                    {% include 'svg/symfony2.twig' %}
                </li>

                <li>
                    {% include 'svg/Victoire.twig' %}
                </li>

                <li>
                    {% include 'svg/magento.twig' %}
                </li>

                <li>
                    {% include 'svg/prestashop.twig' %}
                </li>

                <li>
                    {% include 'svg/photoshop.twig' %}
                </li>

                <li>
                    {% include 'svg/Sketch.twig' %}
                </li>
            </ul>
        </div>

        <div class="bg-color--gray color--anthracite col-side color-gray-dark" id="col-git">
            <div class="text-center" id="col-git--img">
                {% include 'svg/github.twig' %}
            </div>

            <div class="col-side--content text-center" id="col-git--content">
                I've made some stuffs on <a class="color--anthracite" href="https://github.com/LoicGoyet">github</a>
            </div>

            <ul class="col-side--list">
                <li><a href="#">Sully prefixes</a></li>
                <li><a href="#">custom radio</a></li>
                <li><a href="#">custom selects</a></li>
                <li><a href="#">custom checkbox</a></li>
                <li><a href="#">bootstrap 2DGrid</a></li>
                <li><a href="#">toggleSwitch</a></li>
            </ul>
        </div>

        <div class="bg-color--anthracite color--anthracite-light" id="col-main">
            I am <strong class="color-white font-fjallaone">Loïc Goyet</strong> front-end developper

            <div id="col-main-btn">
                <a href="#" class="btn font-fjallaone">
                    <svg width="24" height="20" viewBox="0 0 25 21" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M25 3.1015c-.91975.40163-1.90837.67295-2.94575.79502 1.05888-.62485 1.87225-1.6143 2.25512-2.79337-.99112.5787-2.08875.9988-3.25712 1.2252C20.11675 1.34706 18.78375.734 17.3085.734c-2.8325 0-5.12912 2.26056-5.12912 5.04888 0 .39573.04537.78113.13274 1.15065-4.26275-.21054-8.042-2.2207-10.57174-5.27542-.4415.7457-.6945 1.61295-.6945 2.5383 0 1.75174.9055 3.29713 2.28174 4.20253-.84075-.0262-1.63162-.25336-2.32312-.6315-.0005.02105-.0005.04222-.0005.0635 0 2.44625 1.768 4.4869 4.11438 4.9508-.43038.11543-.8835.17708-1.35126.17708-.3305 0-.65175-.03173-.965-.09055.65275 2.00584 2.54688 3.4657 4.79138 3.50632-1.75537 1.3543-3.96687 2.16138-6.37 2.16138-.414 0-.82225-.02387-1.2235-.07063C2.26987 19.898 4.96587 20.734 7.86238 20.734c9.43412 0 14.59325-7.6936 14.59325-14.36577 0-.2189-.005-.43658-.01488-.65327C23.44287 5.00323 24.31237 4.11396 25 3.1015z"/>
                        </g>
                    </svg>

                    <span class="btn-label">My Tweets</span>
                </a>
                <a href="http://open.spotify.com/user/giantjohnpepper" class="btn font-fjallaone">
                    <svg width="20" height="20" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M10.4999915.4999985c-5.52279147 0-9.99999997 4.4768789-9.99999997 9.9997893 0 5.5229077 4.4772085 10.0002107 9.99999997 10.0002107 5.5227915 0 10-4.477303 10-10.0002107 0-5.5229104-4.4772085-9.9997893-10-9.9997893zM9.03265528 5.71913342c2.93632912 0 6.02576262.60402623 8.28241052 1.9294802.3041718.17228183.5152768.43203207.5152768.9081893 0 .5451337-.4381497.93688672-.9431971.93688672-.2036006 0-.324402-.04953784-.5152769-.15403835-1.810047-1.08535575-4.61891-1.68301993-7.33541522-1.68301993-1.35600486 0-2.73323767.13790297-3.99476704.48025995-.14529517.0365666-.32891708.10930412-.51274477.10930412-.53345226 0-.94277515-.42203725-.94277515-.95545564 0-.54345372.33680464-.84852294.70011816-.95587834 1.42548805-.41996428 3.01666198-.61572803 4.7463707-.61572803zm-.20383188 3.436094c2.6174999 0 5.1496597.6519246 7.1404456 1.84338787.3337481.1913815.4566172.4344143.4566172.7904461 0 .4330112-.3447232.7828484-.7794564.7828484-.2169799 0-.3534688-.0876791-.5009285-.17345-1.6266771-.9653532-3.8811892-1.6066334-6.35001686-1.6066334-1.26623686 0-2.3591819.1773096-3.263842.4182222-.19490938.0536432-.30417924.1114135-.48658.1114135-.43008035 0-.7811445-.3504746-.7811445-.7841151 0-.4252405.20624-.71804077.6220459-.8351803 1.124117-.3087344 2.27204133-.54693928 3.94285956-.54693928zm.13715395 3.26560017c2.18824995 0 4.13848625.5020079 5.81659355 1.5078805.2497624.1458221.3962694.2948341.3962694.6646839 0 .3605045-.2931741.6254338-.6220459.6254338-.1617198 0-.2720508-.0561025-.4232782-.1481287-1.4492956-.8768544-3.2563668-1.3378067-5.17429104-1.3378067-1.0699996 0-2.1469133.1372291-3.15411884.3469013-.1637793.0355065-.36988278.0987529-.4929102.0987529-.3797544 0-.63301823-.3016566-.63301823-.6283887 0-.4202114.24244333-.629446.54397366-.6870502 1.23512964-.2814847 2.4652069-.4422781 3.7428258-.4422781z"/>
                        </g>
                    </svg>
                    <span class="btn-label">My Playlists</span>
                </a>
            </div>
        </div>

        <div class="bg-color--red col-side" id="col-appventus">
            <div class="text-center" id="col-appventus--img">
                {% include 'svg/appventus.twig' %}
            </div>

            <div class="col-side--content color--red-dark" id="col-appventus--content">
                I actually work for <a class="color--white" href="http://appventus.com/">AppVentus</a> an agency specialized in <strong>symfony2 web apps</strong>.
            </div>
        </div>

        <div class="bg-color--green color--white col-side" id="col-victoire">
            <div class="text-center">
                {% include 'svg/victoire.twig' %}
            </div>

            <div class="col-side--content color--green-dark" id="col-victoire--content">
                I am co-creator of <a class="color--white" href="http://appventus.com/victoire">Victoire DCMS</a>. The <strong>new way to do the web</strong> in Symfony2
            </div>
        </div>
    </div>
{% endblock content %}
