body {
    margin: 0;
}

#content {
    display: flex;
    height: 100%;

    @media all and (max-width: $screen-lg-max) {
        flex-wrap: wrap;

        > * {
            flex: 1 1 25%;
        }
    }

    @media all and (max-width: $screen-md-max) {
        > * {
            flex: 1 1 50%;
        }
    }

    @media all and (max-width: $screen-sm-max) {
        height: auto
    }

    @media all and (max-width: $screen-xs-max) {
        > * {
            flex: 1 1 100%;
        }
    }
}

.col-side {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media all and (max-width: $screen-lg-max) {
        min-height: calc(100% - #{$col-main_height});
    }

    @media all and (max-width: $screen-md-max) {
        min-height: calc(50% - 100px);
    }

    @media all and (max-width: $screen-sm-max) {
        height: auto;
        min-height: 250px;
    }

    > * {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;

        @media all and (max-width: $screen-md-max) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.col-side--content {
    font-size: 24px;

    @media all and (max-width: $screen-lg-max) {
        font-size: 28px;
    }

    @media all and (max-width: $screen-md-max) {
        font-size: 20px;
    }
}
