<div class="bg-color--white color--anthracite col-side" id="col-abilities">
    <ul class="fill--blue" id="abilities-list">
        <li>
            {% include 'svg/html5.twig' %}
        </li>

        <li>
            {% include 'svg/angular.twig' %}
        </li>

        <li>
            {% include 'svg/css3.twig' %}
        </li>

        <li>
            {% include 'svg/less.twig' %}
        </li>

        <li>
            {% include 'svg/sass.twig' %}
        </li>

        <li>
            {% include 'svg/bootstrap.twig' %}
        </li>

        <li>
            {% include 'svg/jquery.twig' %}
        </li>

        <li>
            {% include 'svg/github.twig' %}
        </li>

        <li>
            {% include 'svg/symfony2.twig' %}
        </li>

        <li>
            {% include 'svg/victoire.twig' %}
        </li>

        <li>
            {% include 'svg/wordpress.twig' %}
        </li>

        <li>
            {% include 'svg/magento.twig' %}
        </li>

        <li>
            {% include 'svg/prestashop.twig' %}
        </li>

        <li>
            {% include 'svg/photoshop.twig' %}
        </li>

        <li>
            {% include 'svg/sketch.twig' %}
        </li>

        <li>
            {% include 'svg/gulp.twig' %}
        </li>

        <li>
            {% include 'svg/jira.twig' %}
        </li>
    </ul>
</div>
