<div class="bg-color--red col-side" id="col-appventus">
    <div class="text-center" id="col-appventus--img">
        {% include 'svg/appventus.twig' %}
    </div>

    <div class="col-side--content color--red-dark" id="col-appventus--content">
        I actually work for <a class="color--white" href="http://appventus.com/">AppVentus</a> an agency specialized in <strong>symfony2 web apps</strong>.
    </div>
</div>
