<div class="bg-color--green color--white col-side" id="col-victoire">
    <div class="text-center">
        {% include 'svg/football.twig' %}
    </div>

    <div class="col-side--content color--green-dark" id="col-victoire--content">
        I am developer for <a class="color--white" href="http://www.touchdownactu.com/" title="Touchdown Actu, French magazine about NFL and football" alt="Link to Touchdown Actu website">Touchdown Actu</a> the biggest medium about Football US in France
    </div>
</div>
