<div class="bg-color--green color--white col-side" id="col-victoire">
    <div class="text-center">
        {% include 'svg/victoire.twig' %}
    </div>

    <div class="col-side--content color--green-dark" id="col-victoire--content">
        I am co-creator of <a class="color--white" href="http://appventus.com/victoire">Victoire DCMS</a>. The <strong>new way to do the web</strong> in Symfony2
    </div>
</div>
