$screen-xs-max: 400px;

$screen-sm-min: 401px;
$screen-sm-max: 767px;

$screen-md-min: 768px;
$screen-md-max: 991px;

$screen-lg-min: 992px;
$screen-lg-max: 1199px;

$screen-xl-min: 1200px;


@mixin responsive-class($class, $property, $value) {
    .#{$class},
    .#{$class}-xs {
        #{$property}: $value;
    }

    .#{$class}-sm {
        @media all and (min-width: $screen-sm-min) {
            #{$property}: $value;
        }
    }

    .#{$class}-md {
        @media all and (min-width: $screen-md-min) {
            #{$property}: $value;
        }
    }

    .#{$class}-lg {
        @media all and (min-width: $screen-lg-min) {
            #{$property}: $value;
        }
    }

    .#{$class}-xl {
        @media all and (min-width: $screen-xl-min) {
            #{$property}: $value;
        }
    }
}